.mainBlockPicture {
  width: 100%;
}

.mainBlockPictureContainer {
  height: 50px;
  overflow-y: hidden;

}

.mainBlock {
flex: 2;
background: white;
font-size: 12px;
margin: 15px;
border-radius: 4px;
box-shadow:  0 1px 2px #C1C1BF;
padding: 15px;
line-height: 1.5;
color: #36322D;
}

.mainBlockTitle {
  font-size: 20px;
  color: #423E3A;
}

.searchButton {
  color: white;
  background: #AED462;
  border-width: 0px;
  border-radius: 2px;
  padding: 8px;
  font-size: 10px;
}

@media screen and (max-width: 930px) {
  .mainBlock {
    margin: 0 5px;
  }
}