


.sideBlockContainer {
  display: flex;
  flex: 1;
  flex-wrap: true;
  flex-direction: column;
  min-width: 250px;
  overFlow-x: hidden;
  padding: 0 2px;
  margin: 10px 0px;;
}

.sideBlock {
  overflow-x: hidden;
  
}

.sideBlockContainer > * {
  margin: 5px 0;
}

@media screen and (max-width: 930px) {
  .sideBlockContainer {
    flex-direction: row;
  }

  .sideBlockContainer > * {
    width: 295;
    margin: 0 5px;
    justify-content: space between;
    width: calc(50% - 10px)
  }
} 

@media screen and (max-width: 630) {

}