
.subscribeBlockTitle {
  font-size: 14px;

}


.subscribeBlock {
  background: #F1EEE9;
  border-radius: 4px;
box-shadow:  0 1px 2px #C1C1BF;
padding: 10px;
font-size: 10px;
line-height: 1.7;
}

.subscribeButton {
  background: #7F7F7F;
  font-size: 8px;
  border-width: 0px;
  border-radius: 3px;
  color: white;
  margin-top: 5px;
  padding: 6px;
}