


.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.warning {
  color: red;
}

.warning .nameInput {
  border-color: red;  
  color: black;
}
.warning .emailInput {
  border-color: red;  
  color: black;
}

.a:hover {
  color: #4D54E4;
  text-decoration: underline;
}