.modalDialog {
background-color: #FFFFFF;
  border: gray solid 1px;
  border-radius: 5px;
  margin-left: -200px;
  display: block;
  position: fixed; 
  top: 50%;
  left: 50%;  
  z-index: 11; 
  width: 360px;
}

.modalDialogTitle {
  color: #6A6661;
  font-size: 14px;
  top: 0px;
  margin: 5px;
  padding-left: 5px;
}

.modalDialogBody {
 background-color: #F9F7F3
}

.background {
    content: ""; 
    display: block;
    background: rgba(0,0,0,.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0; 
    z-index: 10;
}

.modal {
  display: block;
}
.modalDialogCloseButton {
  left: calc(100% - 11px);
  top: -11px;
  position:absolute;
}
