.collectionPage {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: #F8F7F3;
}

.content {
  display: flex;
  width: 900px;
}

@media screen and (max-width: 930px) {
  .content {
    flex-direction: column;
    width: 600px;
  }
}
@media screen and (max-width: 630px) {
  .content {
    flex-direction: column;
    width: 300px;
  }
}