.headerBar {
  display: flex;
  flex-direction: column;
  background-color: #00c4ff;
}

.pathContainer {
  display: flex;
  justify-content: flex-start;
}

.pathStep {

}

.headerBarTitleContainer {
  display: flex;
  justify-content: center;
}

.headerBarTitle {
  justify-content: center;
  align-items: center;
}
